@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Fag_el_Gamous.Models.Filtering.Filter

<form method="get" asp-controller="MasterBurial2" asp-action="Index" asp-route-pagenum="1">
    <label asp-for="BurialSubPlot" style="color:black">Burial Subplot</label>
    <select asp-for="BurialSubPlot" class="custom-select">
        <option value="">Select an option</option>
        <option value="NW">NW</option>
        <option value="NE">NE</option>
        <option value="SW">SW</option>
        <option value="SE">SE</option>
    </select>
    <br />
    <label asp-for="Sex" style="color:black">Sex</label>
    <select asp-for="Sex" class="custom-select">
        <option value="">Select an option</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
    </select>
    <br /><br />
    <br /><br />

    <label asp-for="HairColor" style="color:black">Hair Color</label>
    <select asp-for="HairColor" class="custom-select">
        <option value="">Select an option</option>
        <option value="B">Brown</option>
        <option value="R">Red</option>
        <option value="A">Brown-Red</option>
        <option value="K">Black</option>
        <option value="D">Blonde</option>
        <option value="U">Unknown</option>
    </select>
    <br />
    @*<label asp-for="EstimateAge">Estimate Age</label>
        <input asp-for="EstimateAge" />
        <br />*@
    <label asp-for="HeadDirection" style="color:black">Head Direction</label>
    <select asp-for="HeadDirection" class="custom-select">
        <option value="">Select an option</option>
        <option value="West">West</option>
        <option value="East">East</option>
    </select>
    <br />
    <button style="float:right" class="btn btn-primary" type="submit">Filter</button>
</form>
