@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.pageType = "Index-Page";
    ViewBag.Title = "Welcome to the BYU Fag el-Gamous Cemetery Excavation Project Database";
    ViewBag.SubTitle = "View the finds of our excavation team";
    ViewBag.Background = "/img/Pyramid.jpeg";


}
<!--Section3 Group7-->
<!--Devyn Smith-->
<!--Josh Card-->
<!--Kaden Johnson-->
<!--Stephan Peck-->
<p>



</p>
<div>
    <h2><b>General Site Information:</b></h2>
    <p>
        Fag el-Gamous (Way of the Water Buffalo) is a large cemetery in Egypt that has been under archeological investigation
        (primarily by BYU researchers) for over 25 years. This site has been the focus of international attention due to the insights
        gathered from studying the mummies discovered on site.
    </p>
    <p>
        During multiple years of study, researchers have excavated more than 1,000 mummies and collected data in field
        notes, spreadsheets, and simple databases about each mummy’s location, physical orientation in the ground, burial
        depth, hair color, wrapping (including information about the textiles used), gender, age, bone (including skull
        and teeth) dimensions, items accompanying the mummy, and more. And, of course, there are many, many photographs.
        Off-site, researchers have performed a variety of analyses on the items excavated including carbon dating and
        DNA sequencing.
    </p>
    <p>
        The “dig” is organized using a grid system where a square is defined by the coordinates North (N), East (E),
        South (S), and West (W) of an origin. It is common for two numbers to designate the distance from the origin
        in a direction (e.g., N 190/200 or E 40/50). Those squares are then subdivided into the Northwest (NW),
        Northeast (NE), Southeast (SE) or Southwest (SW) quadrant (section) of the square. An example burial location
        is: <b>N 190/200 E 40/50 SE</b>. Because many mummies (usually 40 or more) are found in each location, a number is
        assigned (e.g., <b>N 190/200 E 40/50 SE #9</b>) to uniquely identify the burial.
    </p>
</div>

<br />

<!-- Section for the Photo Gallery -->
<section class="gallery-block grid-gallery">
    <div class="container">
        <div class="heading">
            <h2>Photos</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCN0233.JPG">
                    <img class="img-fluid image scale-on-hover" style="padding: 20px" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCN0233.JPG">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCN0316.JPG">
                    <img class="img-fluid image scale-on-hover" style="padding: 20px" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCN0316.JPG">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCN0967.JPG">
                    <img class="img-fluid image scale-on-hover" style="padding: 20px" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCN0967.JPG">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCN3977.JPG">
                    <img class="img-fluid image scale-on-hover" style="padding: 20px" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCN3977.JPG">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/FT270435.JPG">
                    <img class="img-fluid image scale-on-hover" style="padding: 20px" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/FT270435.JPG">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCN0314.JPG">
                    <img class="img-fluid image scale-on-hover" style="padding: 20px" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCN0314.JPG">
                </a>
            </div>

            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSC_0028-8.jpg">
                    <img class="img-fluid image scale-on-hover" style="height: 265px; padding: 20px" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSC_0028-8.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCN0004.JPG">
                    <img class="img-fluid image scale-on-hover" style="padding: 20px" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCN0004.JPG">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/IMG_0967.JPG">
                    <img class="img-fluid image scale-on-hover" style="padding: 20px" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/IMG_0967.JPG">
                </a>
            </div>

            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCN1000.JPG">
                    <img class="img-fluid image scale-on-hover" style="padding: 20px" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCN1000.JPG">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/IMG_0431.JPG">
                    <img class="img-fluid image scale-on-hover" style="padding: 20px" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/IMG_0431.JPG">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/PE220251+(2).JPG">
                    <img class="img-fluid image scale-on-hover" style="padding: 20px" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/PE220251+(2).JPG">
                </a>
            </div>

            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/190-200N+30-40E+NE+Burial+18+--+Nail+A.jpg">
                    <img class="img-fluid image scale-on-hover" style="padding: 20px" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/190-200N+30-40E+NE+Burial+18+--+Nail+A.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCF8496.JPG">
                    <img class="img-fluid image scale-on-hover" style="padding: 20px" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/DSCF8496.JPG">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item" style="border-radius: 25px">
                <a class="lightbox" href="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/25.+B.3.32+1401-50N+50-60E+NW+Burial+18.jpg">
                    <img class="img-fluid image scale-on-hover" style="height: 265px; padding: 20px;" src="https://elasticbeanstalk-us-east-1-761978305531.s3.amazonaws.com/generalphotos/25.+B.3.32+1401-50N+50-60E+NW+Burial+18.jpg">
                </a>
            </div>

        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
            baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
</script>

@*<a style="vertical-align:middle" class="btn btn-block btn-info" asp-controller="Home" asp-action="Tours">
        <i class="material-icons">today</i> Sign Up for a Tour
    </a>
    <a style="vertical-align:middle" class="btn btn-block btn-info" asp-controller="Home" asp-action="ScheduledTours">
        <i class="material-icons">date_range</i> Scheduled Tours
    </a>*@


@*@if (Model.movieTitle != null)
    {
        @: @Model.movieTitle successfully added!
    }*@
@*<a class="nav-link" style="float:right" asp-controller="Home" asp-action="Restaurant">
        <i class="material-icons">local_dining</i> Create Your Own list of Restaurants
    </a>*@

@* Table with bootstrap theme, and hover capabilities *@



