@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmation";
    ViewBag.pageType = "profile-page";
    ViewBag.Background = "/img/tent.jpg";
}



<h5>Welcome to the Fag el-Gamous Community!</h5>
<hr />

    <p>Your account has been created as a normal user - you will be able to view our marvelous library of samples, but that's it.</p>
   
    <p>To request more permissions, an Admin will have to approve you - you can find the full Admin list in the Admin portal.</p>




<a style="font-weight:bold" href="/Identity/Account/Login">Click here to go to the login!</a>